<app-header></app-header>
<ng-container>
  <!--nav bar for operations chose -->

  <!--form for end money -->
  <ng-container *ngIf="displaySendMoneyForm==true && (contacts$ | async) as contacts ">
    <div class="box send-money">
      <form class="formContent" [formGroup]="sendMoneyForm">
        <div class="form-group">
          <label>Contacts</label>
          <select class="form-control" [(ngModel)]="selectedContact" (ngModelChange)="onChange($event)"
                  [ngModelOptions]="{standalone: true}" required>
            <option *ngFor="let contact of contacts.data.contacts "
                    [ngValue]="contact"> {{contact.firstName}} {{contact.lastName}}</option>
          </select>
        </div>
        <div class="form-group" required>
          <label>Amount</label>
          <input type="number" formControlName="amount" class="form-control" placeholder="0.00 €">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description" class="form-control" rows="3" required></textarea>
        </div>
        <div class="btn-from">
          <button (click)="doPayment()" type="submit" class="btn btn-success" [disabled]="sendMoneyForm.invalid">Send
          </button>
          <button (click)="doCancel()" type="reset" class="btn  btn-warning">Cancel</button>
        </div>
        <div *ngIf="isSuccessful===false" class="alert alert-danger mt-1 box" role="alert">
          <h4 class="alert-heading">Error!</h4>
          {{errorMessage}}
        </div>
        <div *ngIf="isSuccessful===true" class="alert alert-success mt-1 box" role="alert">
          <h4 class="alert-heading">Success!</h4>
          {{message}}
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="displayBTransferForm==true">
    <div class="box bankTransfer">
      <form class="formContent" [formGroup]="bTransferForm">
        <div class="form-group" required>
          <label>IBAN</label>
          <input type="text" class="form-control" placeholder="Iban" readonly>
        </div>
        <div class="form-group" required>
          <label>Amount</label>
          <input type="number" class="form-control" placeholder="0.00 €">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="btn-from">
          <button type="submit" class="btn btn-success" [disabled]="bTransferForm.invalid">Transfer</button>
          <button (click)="doCancel()" type="reset" class="btn  btn-warning">Cancel</button>
        </div>

      </form>
    </div>
  </ng-container>
  <ng-container>
    <div class="con">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <span class="nav navbar-nav navbar-right">
                <select (ngModelChange)="doFilterByTransaction($event)" name="transactionType" class="btn btn-success "
                        ngModel="ALL">
                    <!--filter by transaction Type-->
                       <option value="ALL">ALL</option>
                      <option value="PAYMENT">Payment</option>
                      <option value="TRANSFER">Bank Transfer</option>
                </select>
                 <select (ngModelChange)="doFilterByOperation($event)" name="operationType" class="btn btn-success "
                         ngModel="ALL">
                    <!--filter by operation Type-->
                      <option value="ALL">ALL</option>
                      <option value="DEBIT">Negative </option>
                      <option value="CREDIT">Positive</option>
                  </select>
            </span>
          <span class="nav navbar-nav navbar-left">
                  <button class="btn btn-success " (click)="doDisplaySendMoney()"> Send Money</button>
                 <button class="btn btn-success " (click)="doDisplayBankTransfer()"> New Bank Transfer</button>
            </span>
        </div>
      </nav>
      <table class="table table-hover" *ngIf="(transactions$ | async) as transactions">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date - Hour</th>
          <th>Amount</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions.data.transactions">
          <td>{{transaction.name }}</td>
          <td class="description">{{transaction.description }}</td>
          <td>{{transaction.dateTime | date: 'dd/MM/yy - HH:mm'}}</td>
          <td>{{transaction.amount | currency:'EUR'}} </td>
          <td><span class="glyphicon"
                    [ngClass]="[transaction.operationType===OperationType.DEBIT ? '  glyphicon-arrow-right' :' glyphicon-arrow-left' ]"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
