<app-header></app-header>
<ng-container>
  <nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">

      <ul class="navbar-nav w-100 justify-content-center px-3">
        <li class="nav-item active">
          <a class="nav-link" href="#">Send Money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Reload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Pay</a>
      </ul>
    </div>
  </nav>
</ng-container>
<ng-container>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <h3 > Reload</h3>
      </div>
      <!-- Login Form -->
      <form >


      </form>
    </div>
  </div>
</ng-container>
