<app-header></app-header>
<ng-container>
  <!--nav bar for operations chose -->

  <!--form for end money -->
  <ng-container *ngIf="displaySendMoneyForm==true && (contacts$ | async) as contacts ">
    <div class="box send-money">
      <form class="formContent" [formGroup]="sendMoneyForm">
        <div class="form-group">
          <label>Contacts</label>
          <select class="form-control" [(ngModel)]="selectedContact" (ngModelChange)="onChange($event)"
                  [ngModelOptions]="{standalone: true}" required>
            <option *ngFor="let contact of contacts.data.contacts "
                    [ngValue]="contact"> {{contact.firstName}} {{contact.lastName}}</option>
          </select>
        </div>
        <div class="form-group" required>
          <label>Amount</label>
          <input type="number" formControlName="amount" class="form-control" placeholder="0.00 €">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description" class="form-control" rows="3" required></textarea>
        </div>
        <div class="btn-from">
          <button (click)="doPayment()" type="submit" class="btn btn-success" [disabled]="sendMoneyForm.invalid">Send
          </button>
          <button (click)="doCancel()" type="reset" class="btn  btn-warning">Cancel</button>
        </div>
        <div *ngIf="isSuccessful===false" class="alert alert-danger mt-1 error-box" role="alert">
          <h4 class="alert-heading">Error!</h4>
          {{errorMessage}}
        </div>
        <div *ngIf="isSuccessful===true" class="alert alert-success mt-1 error-box" role="alert">
          <h4 class="alert-heading">Success!</h4>
          {{message}}
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="displayBTransferForm==true ">
    <div class="box bankTransfer" *ngIf=" isLoaded ===true">
      <form class="formContent" [formGroup]="bTransferForm">
        <div class="form-group">
          <label>Operation Type </label>
          <select  formControlName="operationType"
                   class="form-control" required>
            <!--bank transaction type-->
            <option value="CREDIT">Reload</option>
            <option value="DEBIT">Bank Transfer</option>
          </select>
        </div>
        <div class="form-group" required>
          <label>IBAN</label>
          <input type="text" class="form-control"  [(ngModel)]="iban" [ngModelOptions]="{standalone: true}"  readonly required>
        </div>
        <div class="form-group" required>
          <label>Amount</label>
          <input type="number" class="form-control" formControlName  ="amount" placeholder="0.00 €" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" formControlName="description" rows="3" required></textarea>
        </div>
        <div class="btn-from">
          <button type="submit" class="btn btn-success" (click)="doTransfer()" [disabled]="bTransferForm.invalid">Transfer</button>
          <button (click)="doCancel()" type="reset" class="btn  btn-warning">Cancel</button>
        </div>
        <div *ngIf="isSuccessful===false" class="alert alert-danger mt-1 error-box" role="alert">
          <h4 class="alert-heading">Error!</h4>
          {{errorMessage}}
        </div>
        <div *ngIf="isSuccessful===true" class="alert alert-success mt-1 error-box" role="alert">
          <h4 class="alert-heading">Success!</h4>
          {{message}}
        </div>

      </form>
    </div>
    <div class="box" *ngIf="isLoaded===false">
    <div class="formContent " >
    <p  class="alert">you have no registered bank account, please add it ; </p>
      <div class="btn-from">
        <button type="button" (click)="goBankAccount()" class="btn btn-success" style="width: 150px"><span class="glyphicon glyphicon-plus"></span> Bank Account</button>
      <button (click)="doCancel()" type="reset" class="btn  btn-warning">Cancel</button>
      </div>
    </div>
    </div>

  </ng-container>

  <ng-container>
    <h3 class="h3 mb-3 font-weight-normal text-center">My Transactions</h3>
    <div class="transaction-view">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
              <span class="nav navbar-nav navbar-right">
                  <select (ngModelChange)="doFilterByTransaction($event)" name="transactionType"
                          class="btn btn-success " ngModel="ALL">
                      <!--filter by transaction Type-->
                    <option value="ALL">ALL</option>
                    <option value="PAYMENT">Payment</option>
                    <option value="TRANSFER">Bank Transfer</option>
                  </select>
                   <select (ngModelChange)="doFilterByOperation($event)" name="operationType" class="btn btn-success "
                           ngModel="ALL">
                      <!--filter by operation Type-->
                     <option value="ALL">ALL</option>
                     <option value="DEBIT">Negative </option>
                     <option value="CREDIT">Positive</option>
                    </select>
              </span>
          <span class="nav navbar-nav navbar-left">
                    <button class="btn btn-success " (click)="doDisplaySendMoney()"> Send Money</button>
                   <button class="btn btn-success " (click)="doDisplayBankTransfer()"> New Bank Transfer</button>
              </span>
        </div>
      </nav>
      <div >

        <table class="table table-hover" mat-table [dataSource]="transactions$ | async">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name.</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.name}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description.</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
          </ng-container>
          <ng-container matColumnDef="date-Hour">
            <th mat-header-cell *matHeaderCellDef> Date - Hour.</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.dateTime | date: 'dd/MM/yy - HH:mm'}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount.</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency :'EUR'}} </td>
          </ng-container>
          <ng-container matColumnDef="operationType">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let transaction"> <span class="glyphicon"
                                                              [ngClass]="[transaction.operationType===OperationType.DEBIT ? '  glyphicon-arrow-right' :' glyphicon-arrow-left' ]"></span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements">jj
        </mat-paginator>
      </div>
    </div>
  </ng-container>
</ng-container>
