<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <div class="navbar-header">
     <img src="assets/logo.png">
    </div>
    <ul class="nav navbar-nav navbar-center">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a routerLink='/home'  routerLinkActive="active">Home</a></li>
      <li><a routerLink='/transfer' >Transfer</a></li>
      <li><a  routerLink='/contacts' routerLinkActive="active"  >Contacts</a></li>
      <li><a ><span class="glyphicon glyphicon-user"></span> </a></li>
      <li><a (click)="doLogout()"><span class="glyphicon glyphicon-off"></span> </a></li>
    </ul>
  </div>
</nav>
