<nav class="navbar navbar-light mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
     <img src="assets/logo.png">
    </div>
    <ul class="nav navbar-nav navbar-center">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Transfer</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-off"></span> </a></li>
    </ul>
  </div>
</nav>
