<div class="form-card">
  <form >
    <h3 class="h3 mb-3 font-weight-normal text-center">New Contact</h3>
       <div class="form-card">
      <label>Email address *</label>
      <input
        type="email"
        class="form-control"
        name="mail"
        placeholder="Enter email"
        [(ngModel)]="contactEmail"
        required
      />
    </div>
    <button (click)="onAddContact()" type="submit" class="btn btn-block btn-success" >Add</button>
  </form>
</div>
<div class="alert alert-info" *ngIf=" message.length>=1">
  {{ message }}
</div>

